body{
    background-color: blueviolet;
    justify-content: center;
            align-items: center;

}
#p{
    padding: 30px;
    margin: 40px;
    width: auto;
    height: auto;

}
#k{
    background-color:deepskyblue;
    color: white;
    width: 50%;
    h1{font-weight: bolder;
    text-align: center;
    }
    p{
        text-align: centersss;

    }




}
#l{
    width: 50%;
    background-color: white;
    color: black;
    padding-left: 20px;
    h1{
        text-align: center;
    }
}

    input[type=text],input[type=email],input[type=tel]{
        width: 80%;
        height: 35px;
    }
    button{
        display: block;
        margin: 0 auto;
        color: white;
        background-color: deepskyblue;
        padding: 30px;
        width: 35%;

        border-radius: 40px;
        text-align: center;
    }
